<%= render "partials/doc_header" %>

    
<div class ="all_concerts_list">
     <div class = "col-md-9">
        <h1>Concerts happening today</h1>
        <% if @all_concerts !=[] %>
            <% @all_concerts.each do |concert| %>
                <% month = concert.date.month %>
                <% mday = concert.date.mday %>
                <% if ((month == Time.now.month) && (mday == Time.now.mday)) %>
                    <h4>Concerts Names</h4>

                     <%= link_to("#{concert.artist}", "/concerts/#{concert.id}") %>
                     <%=  image_tag("concert", height: '32', width: '32')%>
                <% end %>
            <% end %>

        <% else %>
                <p>No concerts today</p>
        <% end %>




     </div>


    <div class = "col-md-3">
        <h1>Concerts in the future</h1>
        <% if @all_concerts !=[] %>
            <% @all_concerts.each do |concert| %>
                <% month = concert.date.month %>
                <% mday = concert.date.mday %>
                <% if ((mday != Time.now.mday) || (month != Time.now.month))  %>
                    <h4>Concerts Names</h4>

                    <%= link_to("#{concert.artist}", "/concerts/#{concert.id}") %>
                    <%=  image_tag("concert", height: '32', width: '32')%>

                <% end %>
            <% end %>

        <% else %>
                <p>No concerts in the near future</p>
        <% end %>



    </div>
</div>


 <%= link_to("Add a new concert", "/concerts/new") %>
 <br>
 <%= link_to("Search for affordable concerts in the future", "/searches") %>
 <br>
  <%= link_to("Get a top 10 popular concert list", "/top_10_popular") %>



<%= render "partials/footer" %>
  