<%= render "partials/doc_header" %>



<% if @new_concert.errors.any? %>
	<ul>
		<% @new_concert.errors.full_messages.each do |error_msg| %>
			<li> <%= error_msg %></li>

		<% end %>

	</ul>
<% end %>


	
<%= form_for @new_concert, html: { class: "new_concert_form" } do |f| %>


	<%= f.label :artist %>
	<%= f.text_field :artist %>


	<%= f.label :venue %>
	<%= f.text_field :venue %>

	<%= f.label :city %>
	<%= f.text_field :city %>

	<%= f.label :date %>
	<%= f.date_field :date %>

	<%= f.label :price %>
	<%= f.text_field :price %>

	<%= f.label :description %>
	<%= f.text_field :description %>



	<%= f.button %>


<% end %>


<%= render "partials/footer" %>
