<%= render "partials/doc_header" %>


<h1>Concert Details

	<div class = "concert_image">
		<%= image_tag("concert", height: '500', width: '800') %>

	</div>	
</h1>



<ul>


	<li>Artist: <%=@specific_concert.artist%></li>
	<li>Venue: <%=@specific_concert.venue%></li>
	<li>City: <%=@specific_concert.city%></li>
	<li>Date: <%=@specific_concert.date%></li>
	<li>Description: <%=@specific_concert.description%></li>
	<li>Price: <%=@specific_concert.price%></li>



</ul>




<% if @new_comment.errors.any? %>
	<ul>
		<% @new_comment.errors.full_messages.each do |error_msg| %>
			<li> <%= error_msg %></li>

		<% end %>

	</ul>
<% end %>

<div class="panel panel-default comment_box">
    <div class="panel-body">Comment Box</div>

    <%= form_for [@specific_concert,@new_comment], html: { class: "new_comment_form" } do |f| %>


	<%= f.label :user_name %>
	<%= f.text_field :user_name %>
	<br>

	<%= f.label :comment %>
	<%= f.text_area :comment, :cols => "50", :rows => "10" %>

	<%= f.button %>


	<% end %>
 

</div>
	


<ul>
	<h2>Comments History</h2>
	<% if @old_comments !=[] %>
            <% @old_comments.each do |comment| %>
				<li>
					User: <%= comment.user_name %>
				</li>
				<li>
					Comment: <%= comment.comment %>
				</li>

            <% end %>

    <% else %>
		<h3>No Comments Yet</h3>

    <% end %>
</ul>



<%= render "partials/footer" %>