<%= render "partials/doc_header" %>


<h1>Concert Details</h1>



<ul>
	<li>Artist: <%=@specific_concert.artist%></li>
	<li>Venue: <%=@specific_concert.venue%></li>
	<li>City: <%=@specific_concert.city%></li>
	<li>Date: <%=@specific_concert.date%></li>
	<li>Description: <%=@specific_concert.description%></li>
	<li>Price: <%=@specific_concert.price%></li>
</ul>




<%= render "partials/footer" %>