<!DOCTYPE html>
<html>
<head>
	<title>Search Result</title>
	<link rel="stylesheet" type="text/css" href="/home_style.css">
	<script type="text/javascript">
			
		// function haha(){

		// 	console.log("haha")
		// }

		// var arrays = <%= @array_of_questions%>

		// function ask_question(){
		// 	console.log(arrays)
		// 	console.log("afdafew")
		// 	var x = Math.floor((Math.random() * 3));

			
		// 	alert ("Which one of this movie has ratings lower than 5?")

		// }
	

	</script>

	</script>
</head>
<body>
	<h1>Loading!!!</h1>
 	<div><button type ="button" onclick ="haha()"> Play !</button></div>

 	<div><button type ="button" onclick = "ask_question()"></button></div>

 	<div class = "image">
	<% @array_of_movies.each do |movie|%>
		
		<% if movie.rating <5 %>
			<a onclick="alert('yay')"><img src = "<%= movie.poster%>"></a>
			<button type ='submit' name="rating" value = "<%= movie.rating%>" onclick = "alert('yay')"> This one! </button>
		<% else %>
			<a onclick="alert('nay')"><img src = "<%= movie.poster%>"></a>
			<button type ='submit' name="rating" value = "<%= movie.rating%>" onclick = "alert('nay')"> This one! </button>
		<% end %>
	<% end %>
	</div>
	<script>
		function haha(){

			console.log("haha")
		}
		function ask_question(){
			console.log(arrays)
			console.log("afdafew")
			var x = Math.floor((Math.random() * 3));

			
			alert ("Which one of this movie has ratings lower than 5?")

		}

		 var arrays = <%= @array_of_questions%>   // how come this line destroy everything? 

		
	

	</script>
</body>
</html>