<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>log in</title>
</head>
<body>
	<%= form_tag "/login" do %>

	  
	  Email: <%= text_field_tag :email %>
	  Password: <%= password_field_tag :password %>
	  Password Confirmation: <%= password_field_tag :password_confirmation %>
	  <%= submit_tag "Submit" %>
	 <% end %>
	
</body>
</html>