<!DOCTYPE html>
<html>
<head>
	<title>Details Page</title>
</head>
<body>
	<div> <h1> Title: <%= @item.title %> </h1> <a href="/edit/<%= @index %>"> EDIT </a> </div>
	<h2> Date: <%= @item.date  %> </h2>
	<h3> Category: <%= @item.category %> </h3>
	<h3> Author: <%= @item.author %> </h3>
	<h3> Text: <%= @item.text %> </h3>

</body>
</html>